/PARI/results_binary.csv
/PARI/results_farey.csv
/PARI/results_greedy.csv
/PARI/.~lock.results_farey.csv\#
/.idea/.gitignore
/.idea/Bachelorarbeit.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
